#sidebar.col-xs-12.col-sm-3.sidebar-offcanvas
    .list-group
        a.list-group-item.active(href='#') B&agrave;i vi&#x1EBF;t m&#x1EDB;i
        |    
        //each last in lastest  
        a.list-group-item(href='#') {last.news_tittle}     
    .list-group
        a.list-group-item.active(href='#') B&agrave;i vi&#x1EBF;t &dstrok;&#x1EB7;c bi&#x1EC7;t
        |         
        a.list-group-item(href='#') news_tittle