extends layout

block content
	.row
		h2 Trang ch&#x1EE7; qu&#x1EA3;n tr&#x1ECB;
		.table-responsive
			table.table.table-condensed.table-hover.table-bordered
				tbody
					.jumbotron
						p
							| Laravel l&agrave; 1 open source, l&agrave; m&#x1ED9;t framework d&ugrave;ng &dstrok;&#x1EC3; x&acirc;y d&#x1EF1;ng web application, &dstrok;&#x1B0;&#x1EE3;c thi&#x1EBF;t k&#x1EBF; d&#x1EF1;a tr&ecirc;n m&ocirc; h&igrave;nh MVC (Model, Controller, View), to&agrave;n b&#x1ED9; source code &dstrok;&#x1B0;&#x1EE3;c &dstrok;&#x1EB7;t tr&ecirc;n github.
						p
							| Theo k&#x1EBF;t q&#x1EE7;a kh&#x1EA3;o s&aacute;t c&#x1EE7;a c&aacute;c Developer v&agrave;o th&aacute;ng 12 n&abreve;m 2013, th&igrave; Laravel Framework &dstrok;&#x1EE9;ng top 1 m&#x1ED9;t trong nh&#x1EEF;ng framework ph&#x1ED5; bi&#x1EBF;n nh&#x1EA5;t, ti&#x1EBF;p sau l&agrave; Phalcon, Symfony2, CodeIgniter v&agrave; c&aacute;c framework kh&aacute;c.
						p
							| Th&aacute;ng 8 n&abreve;m 2014, Laravel Framework &dstrok;&#x1B0;&#x1EE3;c xem nh&#x1B0; l&agrave; m&#x1ED9;t d&#x1EF1; &aacute;n PHP ph&#x1ED5; bi&#x1EBF;n nh&#x1EA5;t tr&ecirc;n Github.
						p#signature BQT Blog xin ch&acirc;n th&agrave;nh c&#x1EA3;m &#x1A1;n!

