doctype
html(lang='en')
head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', type='text/css', href='/admins/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/admins/css/bootstrap-theme.min.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/summernote-master/dist/summernote.css')
    style(type='text/css').
        .container{
        margin: 20px auto;
        }
body
    .container
        include ./backend/navbar.jade
        block content
        include ./backend/footer.jade
        script(type='text/javascript', src='/admins/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/admins/js/bootstrap.min.js')
        script(type='text/javascript', src='/summernote-master/dist/summernote.min.js')
        script(type='text/javascript', src='/admins/js/admin.js')


