extends ../layout

block content
    case status
        when "success"
          div(class="alert alert-success")
            p #{message}  
        when "error"
          div(class="alert alert-danger")
            p #{message}  
    form.form-horizontal(method='post', action='/category/update/#{category.id}', enctype='application/x-www-form-urlencoded')
        fieldset
        // Form Name
        legend S&#x1EED;a danh m&#x1EE5;c
        // Text input
        .form-group
            label.col-md-4.control-label(for='textinput') T&ecirc;n danh m&#x1EE5;c       
            .col-md-6
                input#textinput.form-control.input-md(name='cat_name', value='#{category.cat_name}', type='text', required='')
        // Multiple Radios (inline)
        .form-group
            label.col-md-4.control-label(for='radios') Status      
            .col-md-4
                if category.cat_status == 1
                    label.radio-inline(for='radios-1')
                        input#radios-0(name='cat_status', value='1', type='radio' checked='checked')
                        |                 New            
                    label.radio-inline(for='radios-0')
                        input#radios-1(name='cat_status', value='0', type='radio')
                        |                 Old
                else
                    label.radio-inline(for='radios-1')
                        input#radios-0(name='cat_status', value='1', type='radio')
                        |                 New            
                    label.radio-inline(for='radios-0')
                        input#radios-1(name='cat_status', value='0', type='radio' checked='checked')
                        |                 Old
                // Button (Double)
        .form-group
            label.col-md-4.control-label(for='button1id')       
            .col-md-8
                button#button1id.btn.btn-success(type='submit', name='submit') S&#x1EED;a danh m&#x1EE5;c
                |             
                button#button2id.btn.btn-danger(type='reset', name='reset', value='Làm mới') L&agrave;m m&#x1EDB;i
