extends ../layout

block content
    .row
        h4 Qu&#x1EA3;n l&yacute; th&agrave;nh vi&ecirc;n   
        .table-responsive
            table.table.table-striped.table-hover.table-bordered
                thead
                    tr
                        th ID                   
                        th Email                    
                        th Name                   
                        th Edit                 
                        th Delete          
                tbody
                    tr
                        td id                    
                        td
                            a(href='#') email                   
                        td name                                      
                        td
                            a(href='/users/update') Edit                  
                        td
                            a(href='/users/delete') Delete         
            .pull-right
