nav.navbar.navbar-default
    .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            |                 
            span.icon-bar
            |                 
            span.icon-bar
            |                 
            span.icon-bar
          |             
          a.navbar-brand(href='/') Blog
        // End .navbar-header
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li(class=(title === 'Trang chủ' ? 'active' : ''))
              a(href='/') Trang chủ               
            li(class=(title === 'Quản lý thành viên' ? 'active' : ''))
              a(href='/users') Quản lý thành viên              
            li(class=(title === 'Quản lý danh mục' ? 'active' : ''))
              a(href='/category') Quản lý danh mục                
            li(class=(title === 'Quản lý bài viết' ? 'active' : ''))
              a(href='/news') Quản lý bài viết            
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/user/edit')
                span.glyphicon.glyphicon-user(aria-hidden='true')
                |  Admin                
            li
              a(href='auth/logout')
                span.glyphicon.glyphicon-log-out(aria-hidden='true')
                |  Logout